:root {
  --border: rgba(70, 118, 206, 0.4);
  --border_solid: rgba(70, 118, 206, 1);
}
* {
  font-family: "Alice";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

section {
  padding-top: 64px;
  margin-top: 80px;
}
